/*
 * 1. We don't want the text to take up two lines and overflow the ToolBar.
 */
.kuiToolBarText {
  font-size: $kuiFontSize;
  line-height: $kuiLineHeight;
  color: var(--eui-color-dark-shade);
  white-space: nowrap; /* 1 */
}
